article{
    display: flex;
    flex-direction: column;

    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 0 5px 10px;

        #newDM{
            background-color: rgb(107, 183, 0);
            color: rgb(253, 222, 211);
            border-radius: 5px;
            border: 1px solid rgb(253, 222, 211);
            padding: 10px;
            margin-right: 10px;
            &:hover {
              background-color: rgb(205, 249, 143);
              color: rgb(255, 68, 0);
            }
        }
    }
}