html {
  background-color: rgb(245, 239, 220);
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
    &:hover {

      color: red;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    img {
      display: block;
      max-height: 100px;
      width: auto;
      height: auto;
      margin: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      h1 {
        align-self: center;
        font-size: 1.2em;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: azure;
        border-radius: 10px;
        li {
          list-style: none;
          padding: 10px;
          margin: 5px;
          border-radius: 10px;
        }
        .active-page {
          background-color: rgb(255, 179, 0);
          color: aliceblue;
        }
        .active-links {
          background-color: rgb(255, 217, 127);
        }
      }
    }
  }
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1400px;
    section {
      grid-column: 1 / 4;
      margin: 20px;
      padding: 10px;
      border: solid ;
      border-radius: 10px;
      min-width: 600px;
    }
    aside {
      grid-column: 4;
      width: 200px;
      background-color: rgb(165, 165, 165);
      color: rgb(79, 79, 79);
      margin: 20px;
      padding: 10px;
      border-radius: 10px;
    }
  }

}
