doctype html 
html
    head
        title Administration de la pizzeria "Tomato"
        link(rel="stylesheet", href="/public/sass/css/create.css")
        link(rel="stylesheet", href="/public/sass/css/index.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300&display=swap" rel="stylesheet")
    body 
        header 
            a(href="/admin-app/")
                img(src="../public/images/logo_pizzeria.jpeg")
            div 
                h1 Administration de la pizzeria "Pizza Master"
                ul 
                    include header-menu.pug 
                                    
        main
            section 
                article 
                    h2 Créer un nouveau livreur
                    a(href="/livreurs") Retour à la liste des livreurs
                    form(action="/createdeliveryman" method='POST' id="formcreateDM")
                        table
                            tr 
                                td
                                    label(for="dm_firstname") Prénom :
                                td
                                    input(type="text" name="dm_firstname" id="dm_firstname")
                            tr 
                                td 
                                    label(for="dm_lastname") Nom de famille :
                                td
                                    input(type="text" name="dm_lastname" id="dm_lastname")
                            tr 
                                td 
                                td
                                    button(type="submit" name="create" id="buttoncreateDM") Ajouter ce livreur !          
            aside 
                h3 Aside title
                p Text aside : Lorem ipsum dolor sit amet consectetur adipisicing elit. Error fugit animi eveniet sint iusto optio, ut inventore aspernatur deleniti quasi ratione omnis voluptatum debitis sunt deserunt possimus blanditiis velit reiciendis?
        footer