li Utilisateurs
a(href="/pizzas")
    li(class="active-links") Pizzas
li Menus
li Desserts
li Boissons
a(href="/clients")
    li(class="active-links")  Clients
li Commandes
a(href="/livreurs")
    li(class="active-links")  Livreurs
li Ingrédients
li Statistiques
li Promotions